body {
    font-family: 'Poppins', sans-serif;
    margin: 20px 10px;

}

h1 {
    font-size: 40px;
    padding-left: 4%;
}

.orange {
    color: #ffa500;
}

.fexible-container {
    display: flex;
    margin: 25px;
}

.half-width {
    width: 50%;
    padding-left: 4%;
    padding: 10px 10px;


}

.half-width img {
    width: 400px;

}

.link-button {
    text-decoration: none;
    background-color: #ffa500;
    background-image: linear-gradient(orange tomato);
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.ex-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px #808080;
    border-radius: 10px;
}

#full-developer {
    border-left: 7px solid #800080;
}

#baby-developer {
    border-left: 7px solid #0000ff;
}

footer p {
    text-align: center;
}